/* Global Styles */

#root {
  background: var(--background);
  min-height: 100vh;
}

.margin {
  margin-left: 1.8rem;
  margin-right: 1.8rem;
}

/*Input Styles */

input[type='text'] {
  width: 100%;
  height: 2.2rem;
  border: transparent;
  border-radius: 6px;

}

input[type='text']::placeholder {
  padding-left: .9rem;
}


/* Button Styles */
button.btn {
  padding-top: .6rem;
  padding-bottom: .6rem;
  padding-left: 3rem;
  padding-right: 3rem;
  cursor: pointer;
  border-radius: 6px;
}

a.btn {
  padding-top: .6rem;
  padding-bottom: .6rem;
  margin-left: 6rem;
  margin-right: 6rem;
  cursor: pointer;
  border-radius: 6px;
}

.primary-button {
  background: var(--highlight);
  color: var(--white);
  border: transparent;
}

.secondary-button {
  background: transparent;
  border: 1px solid var(--highlight);

}

.btn-nav {
  cursor: pointer;
  border: none;
  background: transparent;
  outline: none;
  margin-top: 1.5rem;
  padding: 1em 1.5em
}

.btn-nav::after {
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  width: 0;
  left: 8rem;
  bottom: 2.4rem;
  background-color: red;
  transition: width 0.3s ease-in-out;
}

.btn-nav:hover::after {
  width: 50px;
}

/* Utilities */
.transparent {
  display: none !important;
}